<html lang='es'>
  <body>
    <p>Hola {{name}},</p>
    <br />
    <p>Bienvenido a <strong>Restaurants</strong>,</p>
    <p>
      Click
      <b><a href='{{link}}' target='_blank'>Aquí</a></b>
      para activar la cuenta de
      {{restaurant}}
      o visita el siguiente link:
      {{link}}
    </p>
    <p><small>Esta confirmación expira en una hora. Si no la activas el
        subdominio
        {{subdomain}}
        estará disponible para otro usuario.
      </small></p>
    <br />
    <p>Equipo de <strong>Restaurants</strong></p>
  </body>
</html>